/*classes for tags*/
.tags {
  display: inline;
  list-style: none;
}

.tags li {
  display: inline;
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  border-radius: 5px;
  margin: 2px;
}

/*
.tags li:after {
  content: ", ";
}
*/
/*button and subclasses*/
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
/*  position: fixed;*/
  left: 50%;
}
.important{
  background-color: #cc0000;
  float:left;
}
.normal{
  background-color: #4CAF50; /* Green */
  float:right;
}

/*
navbar classes
.navbar_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.navbar_li {
  float: left;
}
.navbar_li_a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar_li_a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}


.Mid_Column{
  
}
div table{
  width:75%;
  margin-left: auto;
  margin-right: auto;
}
.Response_Container{
height:visible;
overflow:auto;
}
.workingArea{
    float: middle;
    width:300px;
    height: 500px;
}
*/
