.column {
  float: left;
  width: 33.33%;
  border: 2px solid;
  padding: 8px; 
  resize: none;
  overflow: none;
  height:89vh;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.title::after{
 float:right;
 content:url(Images/InfoDark.png);
}
.title:hover:after{
 float:right;
 content:url(Images/InfoLight.png);
}
.left{
  background-color: lightcoral;
}
.middle{
  background-color: lightblue;
  overflow: auto;
}
.right{
background-color: lightgreen;
overflow: auto;
}

textarea {
  resize:none;
  height:100%;
  width:100%;
  border-radius:3px;
  margin-bottom: 5px;
}

.delete::after{
 float:right;
 content:url(Images/CloseBlack.png);
}
.delete:hover:after{
 float:right;
 content:url(Images/CloseRed.png);
}

.CPT{
border-radius:3px;
background-color:white;
overflow: auto;
}

.DX{
border-radius:3px;
background-color:white;
overflow: auto;
}

.clear{
float:right;
}

.hintText{
    color: darkgrey;
    text-align: center;
}

#Settings{
  margin-bottom: 10px;
  margin-top: 10px;
}
.SettingsContent{
  margin: 10px;
}

.babybutton{
  float:left;
}

.child {
  width: 50px;
  height: 50px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.childTiny {
  width: 10px;
  height: 10px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

div.bicycle{
  width:52%;
  border-radius:7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}